$mainColor : #10b0e6;
$mainWidth : 100%;

#header {
    padding-top: 80px;
    display: block;
    width: 100%;
    position: relative;
    
    .navbar {
        height: 80px;
        background-color: white;
        padding-left:50px;
      

        .navbar-toggler {
            .navbar-toggler-icon {
                padding: 10px;
                background-color: white;
                color: rgba(0,0,0,.5);
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }

        .navbar-collapse {
            flex-grow: 0;

            .navbar-nav {
                background-color: white;   

                .nav-item {
                    padding-left: 15px;
                    padding-right: 15px;

                    .nav-link {
                        color: black;
                    }
                }
            }
        }
    }

    #header-frame {
        width: $mainWidth;
        background-color: #E5E5E5;
        padding-bottom: 40px;
        
        .header-frame-main {
            padding-top: 30px;
            width: 90%;
            margin: 0 auto;
            position: relative;

            .row {

                margin-left:0;
                margin-right:0;
                &:first-child {
                    height: 343px;
                }

                .col-8 {
                    background-size: $mainWidth 343px;
                    padding-left: 0;

                    .content {
                        background-color: #10b0e6;
                        width: 100%;
                        height: 100%;
                        
                        .text-frame {
                            margin-left:10%;

                            h1 {
                                color: white;
                                padding-top:100px;
                                font-weight:bold;
                                font-size: 48px;

                            }

                            button {
                                font-size: 20px;
                                border-color:white;
                                border-radius:50px;
                                color:white;
                                text-decoration: underline;
                                padding: 14px 20px;
                                font-size: 20px;
                                font-weight: bold;
                                margin-top: 20px;

                            }
                        }
                    }

                }

                .col-4 {
                    background-image: url(../imgs/red.png);
                    background-size: 100% 343px;  
                }

            }

            .img-header{
                position: absolute;
                bottom: 5px;
                right: 4%;
                height: 60%;
                width: auto;
            }

            #group-3-1 {
                height: 100%;
                width: auto;

            }
        }
    }
}


#medical-care {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    .heading {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 37px;
        color: #10b0e6;
        text-align: center;
        padding-bottom: 20px; 

    }

    .info-img {
        width: 90%;
        margin-left: 5%;
        height: 100%;
    }
}

#clinic, #patient, #doctor, #childcare, #hospital, #client, #therapy {
    @extend #medical-care;
}

#contact {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 30px;  
    background-color: #E5E5E5;

    .contact-content {
        
        h1 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 37px; text-align: center;
            letter-spacing: 0.1em;
            color: #DC143C;
            padding-bottom: 37px;
        }

        .contact-detail {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .col1 {
                background-color: #10b0e6;
                width: 50%;
                color: white;
                font-size: 14px;
                line-height: 20px;
                padding-top: 137px;
                padding-bottom: 138px;

                span {
                    font-weight: bold;
                    font-size: 15px;
                }

                p {
                    margin-bottom: 0;
                    position: relative;

                    &::before {
                        font-family: FontAwesome;
                        display: inline-block;
                        margin-right: 6px;
                        vertical-align: middle;
                        position: absolute;
                        left: -20px;
                    }

                    &:first-child::before {
                        content: "\f003";
                    }

                    &:last-child::before {
                        content: "\f095";
                    }
                }
            }

            .col2 {
                display: flex;
                justify-content: center;
                width: 50%;
                img {
                    height:100%;
                    width: 100%;
                }
            }
        }
    }
}

#footer {
    background-color: #DADADA;
    flex: 1;
    justify-content: space-around;
    align-items: center;

    p {
        padding-bottom: 32px;
        padding-top: 32px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: black;    
    }

    .media{
        width: 13%;
        color: black;
        font-size: 30px; 
    }
}

@media screen and (max-width: 414px){
    #header {
        .navbar {
            padding-left: 0px;
        }
        #header-frame {
            .header-frame-main{
                padding-top: 0;
                width: 98%;
                margin: 0 auto;
                position: relative;

                .row {
                    .col-8 {
                        .content {
                            .text-frame {
                                h1 {
                                    padding-top: 60px;
                                    font-weight: 800;
                                    font-size: 20px;
                                    line-height: 24px;
                                }

                                button {
                                    padding: 5px 5px;
                                    margin-top: 5px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

                .img-header{
                    position: absolute;
                    bottom: 5px;
                    right: 10%;
                    height: 54%;
                    width: auto;
                }

                #group-3-1 {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    #medical-care {
        .heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height */
    
            text-align: center;
            letter-spacing: 0.1em;
    
            color: #00ABAF;
        }
    }

    #contact {
        .contact-content {
            .contact-detail {
                flex-direction: column;
                .col1{
                    width: 100%;
                    padding-bottom: 94px;
                    padding-top:93px;
                }
                .col2{
                    width: 100%;
                }
            }
        }
    }

    #footer {
        background-color: #DADADA;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .media{
            width: 60%;
            margin: 0 auto;
        }  
    }    

}

@media screen and ( max-width: 768px) and (min-width : 415px){ 
    #header {
        .navbar {
            padding-left: 0px;
        }
        #header-frame {
            .header-frame-main{
                padding-top: 0;
                width: 98%;
                margin: 0 auto;
                position: relative;

                .row {
                    .col-8 {
                        .content {
                            .text-frame {
                                h1 {
                                    padding-top: 60px;
                                    font-weight: 800;
                                    font-size: 20px;
                                    line-height: 24px;
                                }

                                button {
                                    padding: 5px 5px;
                                    margin-top: 5px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

                .img-header{
                    position: absolute;
                    bottom: 5px;
                    right: 10%;
                    height: 54%;
                    width: auto;
                }
            }
        }
    }

    #medical-care {
        .heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
    
            text-align: center;
            letter-spacing: 0.1em;
    
            color: #00ABAF;
        }
    }

    #contact {
        .contact-content {
            .contact-detail {
                flex-direction: column;
                .col1{
                    width: 100%;
                    padding-top:93px;
                    padding-bottom:94px;
                }
                .col2{
                    width: 100%;
                }
            }
        }
    }

    #footer {
        background-color: #DADADA;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .media{
            width: 60%;
            margin: 0 auto;
        }  
    }    
}


@media screen and (max-width: 1024px) and (min-width:769px){
    #header {
        .navbar {
            padding-left: 0px;
        }
        #header-frame {
            .header-frame-main{
                padding-top: 0;
                width: 98%;
                margin: 0 auto;
                position: relative;

                .row {
                    .col-8 {
                        .content {
                            .text-frame {
                                h1 {
                                    padding-top: 60px;
                                    font-weight: 800;
                                    font-size: 20px;
                                    line-height: 24px;
                                }

                                button {
                                    padding: 5px 5px;
                                    margin-top: 5px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #medical-care {
        .heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
    
            text-align: center;
            letter-spacing: 0.1em;
    
            color: #00ABAF;
        }
    }

    #contact {
        .contact-content {
            .contact-detail {
                flex-direction: column;
                .col1{
                    width: 100%;
                    line-height: 35px;
                    padding-top:93px;
                    padding-bottom:94px;
                    span{
                        font-size: 24px;
                    }

                    p{
                        font-size: 30px;
                        &::before{
                            left: -43px;
                        }
                    }
                }
                .col2{
                    width: 100%;
                }
            }
        }
    }

    #footer {
        background-color: #DADADA;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .media{
            width: 60%;
            margin: 0 auto;
        }  

        p{
            font-size: 24px;
        }
    }    

}

